$light: #fff;
$dark: #4b5563;
$primary: #1d4ed8;
$secondary: #f97316;
$info: #f97316;
$danger: #f97316;
$success: #15803d;
$skeletonBG: #dddbdd;

$transition: 0.15s linear;
$hoverOpacity: 0.7;

$regularFF: Montserrat, sans-serif;
$headingFS: 18px;
$regularFS: 14px;
$regularFW: 500;
$regularLH: 1.5;
